<%- include('partials/header'); -%><!--path of file from viwes folder -->
<h1>compose</h1>
<div>
    <form action="/" method="post">
        <label for="text">Text</label>
        <input type="text" id="text" name="blog">
        <button type="submit" >Publish</button>
    </form>
   
</div>
<%- include('partials/footer'); -%>