<%- include('partials/header'); -%><!--path of file from viwes folder -->
<h1 style="margin-bottom: 2rem;">Compose</h1>
<div>
    <form action="/compose" method="post" id="blogform">
        <div class="form-group">
            <label for="exampleInputEmail1">Blog Name</label>
            <input type="text" id="text" name="blog" class="form-control" id="exampleInputEmail1" aria-describedby="texthelp" placeholder="Enter Blog Name">
            <small id="texthelp" class="form-text text-muted">proper name will engage more people towards your blog.</small>
          </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Blog Post</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="fullblog" form="blogform" ></textarea>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Publish Now</button>
        </div>
    </form>
</div>
<%- include('partials/footer'); -%>